/*------------------------  GLOBALS -----------------*/
body {
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* ----------------- NAVBAR --------------------*/
#nav-logo {
    margin-left: -25px;
    height: 60px;
}

.navigation {
    padding: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.navbar-top {
    display: flex;
    align-items: center;
    
}

#menu {
    width: 100%;
    float: right;
}


.nav-item {
    padding: 10px;
    padding-top: 20px;
}

.navbar-collapse {
    height: auto;
}

.open {
    height: 0;
    display: none;
}


/*-------------------------- HERO ---------------------*/
.shop {
    margin: 50px;
}

.hero {
    position: relative;
}

.hero-background-image {
    width: 100%;
    /*transform: translateX(-18%);*/
}

.hero-title {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: 20%;
    transform: translateY(-250px);
    color: white;
    display: none;
}

.hero button {
    width: 150px;
    margin-top: 10px;
    align-self: center;
}
/* ------------------- INTRO ----------------*/

.intro {
    margin-inline: 50px;
    text-align: center;
    font-size: 18px;
}


.cta {
    margin-inline: 20%;
}

.intro {
    display: flex;
    justify-content: center;
}

.intro-container {
    width: 500px;
}

/* ------------------- ITEM CARDS ----------------*/

/* MOBILE ONLY FORMAT */
@media screen and (max-width: 800px) {
    .card-container {
        padding-block: 30px;

        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

}

/* WEB ONLY FORMAT */
@media screen and (min-width: 800px) {
    .card-container {
        padding: 30px;
        column-gap: 20px;

        display: flex;
        justify-content: space-around;
    }

    .card {
        width: 220px;

    }
}

.card {
    width: 70%;
    background-color: #fdfffa;
    
    border-style: solid;
    border-width: 1px;
    /*border-radius: 10px;*/
    box-shadow: 5px 5px 10px #52222e;

    display: flex;
    flex-direction: column;
    padding: 10px;
}


.card-image {
    height: 150px;
    width: 100%;
    object-fit: cover;
    background-repeat:no-repeat;
    background-position: center center;

    /*border-radius: 10px;*/

    align-self: center;
}

.card-text-area {
    padding: 5px 5px;

}
.card-title {
    font-weight: bold;
}

.card-descr {
    padding: 10px 0;
    font-size: small;
}




/* ---------------- ACCORDION ------------------ */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
