/* ------------------ IMPORT SECTION STYLESHEETS -----------------*/
@import "./styles/navbar.css";
@import "./styles/hero.css";
@import "./styles/intro.css";
@import "./styles/cards.css";
@import "./styles/cta.css";
@import "./styles/footer.css";
@import ".styles/button.css";

/*------------------------  GLOBALS -----------------*/
body {
    margin: 0;
    background-color: #f8f6f7;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    all: unset;
    cursor: pointer;
  }
  


  