.shop {
    margin: 50px;
}

.hero {
    position: relative;
}

.hero-background-image {
    height: 500px;
    /*transform: translateX(-18%);*/
}

.hero-title {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: 20%;
    top: 40%;
    color: white;
}

.hero button {
    width: 150px;
    margin-top: 50px;
    align-self: center;
}

.intro {
    margin-inline: 50px;
    text-align: center;
    font-size: 18px;
}

.cta {
    margin-inline: 20%;
}

.intro {
    display: flex;
    justify-content: center;
}

.intro-container {
    width: 500px;
}

.card {
    background-color: aqua;
}
.card-img-overlay {
    display: flex;
    flex-direction: column;
}

.card-btn {
    align-items: flex-end;
}

.accordion-content.active {
    height: 0;
    display: none;
}
