/*-------------------------- HERO ---------------------*/
.shop {
    margin: 50px;
}



.hero {
    position: relative;
}

.hero-background-image {
    width: 100%;
    /*transform: translateX(-18%);*/
}

.hero-title {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: 20%;
    transform: translateY(-250px);
    color: white;
    display: none;
}

.hero button {
    width: 150px;
    margin-top: 10px;
    align-self: center;
}

/* WEB ONLY FORMAT */
@media screen and (min-width: 700px) {
     
    #hero-image {      
    background: url('Brewery1.jpg');
    }/* I need to move this over to the hero.css file*/
    
}