/* ------------------- INTRO ----------------*/

#brand-banner{
    padding: 0px 50px;
    display: flex;
    justify-content: center;
}
#hero-brand {
    width: 300px;
}

.intro {
    margin-inline: 50px;
    text-align: center;
    font-size: 16px;
}

.intro {
    display: flex;
    justify-content: center;
}

.intro-container {
    width: 500px;
}